{% load static %}
{% load i18n %} 

<section class="services-one" id="about">
  <div class="container">
      <div class="section-title">
          <h2 class="section-title__title text-center wow fadeInUp" data-wow-delay="300ms">{% translate "Artnova tashkiloti haqida  " %}</h2>
          <span class="section-title__tagline mt-3 wow fadeInUp" data-wow-delay="300ms">
            {{ settings.about_us|safe }}
          </span>
      </div>

      {% comment %} <div class="section-title text-center mb-4">
          <h2 class="section-title__title wow fadeInLeft" data-wow-delay="300ms" style="font-size: 40px">{% translate "Bizning Markazlar (Xitoy)" %}</h2>
      </div>

      <div class="row">
          <div class="col-xl-6 col-lg-6 wow fadeInLeft" data-wow-delay="300ms">
              <!--Services One Single-->
              <div class="services-one__single">
                  <div class="services-one__img">
                      <img src="{% static 'assets/images/production-centers/suzhou.png' %}" alt="" />
                  </div>
                  <div class="services-one__content">
                      <h3 class="services-one__title"><a href="javascript:void(0)">{% translate "Bosh ofis va Tadqiqot markazi" %}</a></h3>
                      <p class="services-one__text">Suzhou</p>
                      <a href="javascript:void(0)" class="services-one__btn">{% translate "Batafsil" %}</a>
                  </div>
              </div>
          </div>
          <div class="col-xl-6 col-lg-6 wow fadeInRight" data-wow-delay="600ms">
              <!--Services One Single-->
              <div class="services-one__single">
                  <div class="services-one__img">
                      <img src="{% static 'assets/images/production-centers/shanghai.png' %}" alt="" />
                  </div>
                  <div class="services-one__content">
                      <h3 class="services-one__title"><a href="javascript:void(0)">{% translate "Tadqiqot markazi" %}</a></h3>
                      <p class="services-one__text">Shanghai</p>
                      <a href="javascript:void(0)" class="services-one__btn">{% translate "Batafsil" %}</a>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-xl-6 col-lg-6 wow fadeInLeft" data-wow-delay="300ms">
              <!--Services One Single-->
              <div class="services-one__single">
                  <div class="services-one__img">
                      <img src="{% static 'assets/images/production-centers/nantong.png' %}" alt="" />
                  </div>
                  <div class="services-one__content">
                      <h3 class="services-one__title"><a href="javascript:void(0)">{% translate "Dori ishlab chiqarish zavodi" %}</a></h3>
                      <p class="services-one__text">Nantong</p>
                      <a href="javascript:void(0)" class="services-one__btn">{% translate "Batafsil" %}</a>
                  </div>
              </div>
          </div>
          <div class="col-xl-6 col-lg-6 wow fadeInRight" data-wow-delay="600ms">
              <!--Services One Single-->
              <div class="services-one__single">
                  <div class="services-one__img">
                      <img src="{% static 'assets/images/production-centers/lianyungang.png' %}" alt="" />
                  </div>
                  <div class="services-one__content">
                      <h3 class="services-one__title"><a href="{% url "lianyungang" %}">{% translate "Dori ishlab chiqarish zavodi" %}</a></h3>
                      <p class="services-one__text">Lianyungang</p>
                      <a href="{% url "lianyungang" %}" class="services-one__btn">{% translate "Batafsil" %}</a>
                  </div>
              </div>
          </div>
      </div> {% endcomment %}
  </div>
</section>