{% load static %}
{% load i18n %}

<section class="real-world">
    
    <div 
        class="real-world-shape wow slideInLeft" 
        data-wow-delay="100ms" 
        data-wow-duration="2500ms"
        style="background-image: url({% static 'assets/images/shapes/real-world-shape.png' %})"
    ></div>

    <div class="container">
        <div class="section-title text-center wow fadeInDown" data-wow-delay="200ms">
            <h2 class="section-title__title">{% translate "Yutuqlar va Litsenziyalar" %}</h2>
            <span class="section-title__tagline">{% translate "Tashkilotimizning Litsenziyalari va Yutuqlari" %}</span>
        </div>

        <div class="row certificates">
            {% for license in licenses %}

            <div class="col-md-6 col-lg-4 wow fadeInLeft" data-wow-delay="200ms">
                <div class="shop-one__item" data-fancybox="license" data-caption="{{ license.title }}"
                data-src="{{ license.image.url }}">
                    <div class="shop-one__image d-flex" >
                        <img src="{{ license.image.url }}" alt="{{ license.title }}" class="mx-auto" />
                    </div>
                    <div class="shop-one__content text-center">
                        <h3 class="shop-one__title"><a href="javascript:void(0)">{{ license.title }}</a></h3>

                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</section>

{% if achievements %}
<section class="brand-one">
    <div class="container">
        <h4 class="brand-one__title wow fadeInDown" data-wow-delay="200ms">{% translate "Unvonlar va Yutuqlar" %}</h4>
        <div class="thm-swiper__slider swiper-container wow fadeInDown" data-wow-delay="200ms" data-swiper-options='
            {"spaceBetween": 100, 
            "slidesPerView": 5, 
            "autoplay": { "delay": 5000 }, 
            "pagination": {
            "type": "bullets",
            "clickable": true
            },
            "breakpoints": {
                "0": {
                    "spaceBetween": 30,
                    "slidesPerView": 2
                },
                "375": {
                    "spaceBetween": 30,
                    "slidesPerView": 2
                },
                "575": {
                    "spaceBetween": 30,
                    "slidesPerView": 3
                },
                "767": {
                    "spaceBetween": 50,
                    "slidesPerView": 4
                },
                "991": {
                    "spaceBetween": 50,
                    "slidesPerView": 4
                },
                "1199": {
                    "spaceBetween": 50,
                    "slidesPerView": 4
                }
            }}'>
            <div class="swiper-wrapper">
                {% for achievement in achievements %}
                <div class="swiper-slide" data-fancybox="achievement" data-caption="{{ achievement.title }}"
                    data-src="{{ achievement.image.url }}">
                    <img src="{{ achievement.image.url }}" alt="{{ achievement.title }}"
                        title="{{ achievement.title }}" />
                    <div class="title col-12 d-inline-block text-truncate">{{ achievement.title }}</div>
                </div>
                {% endfor %}
                <!-- /.swiper-slide -->
            </div>
        </div>
    </div>
</section>
{% endif %}