{% load static %}

<section class="testimonials-one" id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-xl-5">
        <div class="testimonials-one__left">
          <div class="section-title text-left">
            <h2 class="section-title__title">Tadbirlarda ishtirok etganlarning</h2>
            <span class="section-title__tagline">Fikr-mulohazalari</span>
          </div>
        </div>
      </div>
      <div class="col-xl-7">
        <div class="testimonials-one__right">
          <div class="testimonials-one__carousel owl-theme owl-carousel owl-loaded owl-drag">
            <div class="owl-stage-outer">
              <div class="owl-stage">
                <div class="owl-item">
                  <div class="testimonials-one__single">
                    <p class="testimonials-one__text">Lorem ipsum is simply free text dolor sit amet,
                      consectetur notted adipisicing elit sed do eiusmod tempor incididunt ut labore
                      et dolore magna aliqua.
                    </p>
                    <div class="testimonials-one__client-info">
                      <h5 class="testimonials-one__client-name">Hester Ortiz</h5>
                      <p class="testimonials-one__client-title">Customer</p>
                    </div>
                    <div class="testimonials-one__client-img">
                      <img src="https://placehold.co/77x77" alt="" width="77" height="77" style="object-fit: cover;">
                    </div>
                    <div class="testimonials-one__quote"
                      style="background-image: url({% static 'assets/images/testimonial/testimonials-1-icon.png' %})">
                    </div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="testimonials-one__single">
                    <p class="testimonials-one__text">Lorem ipsum is simply free text dolor sit amet,
                      consectetur notted adipisicing elit sed do eiusmod tempor incididunt ut labore
                      et dolore magna aliqua.</p>
                    <div class="testimonials-one__client-info">
                      <h5 class="testimonials-one__client-name">Randall Fleming</h5>
                      <p class="testimonials-one__client-title">Customer</p>
                    </div>
                    <div class="testimonials-one__client-img">
                      <img src="https://placehold.co/77x77" alt="" width="77" height="77" style="object-fit: cover;">
                    </div>
                    <div class="testimonials-one__quote"
                      style="background-image: url({% static 'assets/images/testimonial/testimonials-1-icon.png' %})">
                    </div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="testimonials-one__single">
                    <p class="testimonials-one__text">Lorem ipsum is simply free text dolor sit amet,
                      consectetur notted adipisicing elit sed do eiusmod tempor incididunt ut labore
                      et dolore magna aliqua.</p>
                    <div class="testimonials-one__client-info">
                      <h5 class="testimonials-one__client-name">Benjamin Hansen</h5>
                      <p class="testimonials-one__client-title">Customer</p>
                    </div>
                    <div class="testimonials-one__client-img">
                      <img src="https://placehold.co/77x77" alt="" width="77" height="77" style="object-fit: cover;">
                    </div>
                    <div class="testimonials-one__quote"
                      style="background-image: url({% static 'assets/images/testimonial/testimonials-1-icon.png' %})">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-nav">
              <button type="button" role="presentation" class="owl-prev">
                <span class="icon-right-arrow left"></span>
              </button>
              <button type="button" role="presentation" class="owl-next">
                <span class="icon-right-arrow"></span>
              </button>
            </div>
            <div class="owl-dots disabled"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>