{% load static %}
{% load i18n %}

<section class="events-one">
  <div class="container">
    <div class="section-title text-center mb-4">
      <h2 class="section-title__title wow fadeInLeft" data-wow-delay="300ms" style="font-size: 40px">{% translate "Faol tadbirlar" %}</h2>
      <p class="section-title__text">{% translate "Hozirgi vaqtda faol tadbirlarimiz" %}</p>
    </div>
    
    <div class="row">
      <div class="col-xl-6 col-lg-6 wow fadeInLeft" data-wow-delay="300ms">
          <!--Services One Single-->
          <div class="services-one__single">
              <div class="services-one__img">
                  <img src="https://picsum.photos/570/300" alt="" />
              </div>
              <div class="services-one__content">
                  <h3 class="services-one__title"><a href="javascript:void(0)">Lorem ipsum dolor sit.</a></h3>
                  <p class="services-one__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis, quia?</p>
                  <a href="javascript:void(0)" class="services-one__btn">{% translate "Batafsil" %}</a>
              </div>
          </div>
      </div>
      <div class="col-xl-6 col-lg-6 wow fadeInRight" data-wow-delay="600ms">
          <!--Services One Single-->
          <div class="services-one__single">
              <div class="services-one__img">
                  <img src="https://picsum.photos/570/400" alt="" />
              </div>
              <div class="services-one__content">
                  <h3 class="services-one__title"><a href="javascript:void(0)">Lorem ipsum dolor sit.</a></h3>
                  <p class="services-one__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis, quia?</p>
                  <a href="javascript:void(0)" class="services-one__btn">{% translate "Batafsil" %}</a>
              </div>
          </div>
      </div>
    
      <div class="col-xl-6 col-lg-6 wow fadeInLeft" data-wow-delay="300ms">
          <!--Services One Single-->
          <div class="services-one__single">
              <div class="services-one__img">
                  <img src="https://picsum.photos/570/300" alt="" />
              </div>
              <div class="services-one__content">
                  <h3 class="services-one__title"><a href="javascript:void(0)">Lorem ipsum dolor sit.</a></h3>
                  <p class="services-one__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis, quia?</p>
                  <a href="javascript:void(0)" class="services-one__btn">{% translate "Batafsil" %}</a>
              </div>
          </div>
      </div>
      <div class="col-xl-6 col-lg-6 wow fadeInRight" data-wow-delay="600ms">
          <!--Services One Single-->
          <div class="services-one__single">
              <div class="services-one__img">
                  <img src="https://picsum.photos/570/400" alt="" />
              </div>
              <div class="services-one__content">
                  <h3 class="services-one__title"><a href="javascript:void(0)">Lorem ipsum dolor sit.</a></h3>
                  <p class="services-one__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis, quia?</p>
                  <a href="javascript:void(0)" class="services-one__btn">{% translate "Batafsil" %}</a>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>