{% load static %}
{% load i18n %}
{% load custom_tags %}

<section class="events-one">
  <div class="container">
    <div class="section-title text-center mb-4">
      <h2 class="section-title__title wow fadeInLeft" data-wow-delay="300ms" style="font-size: 40px">{% translate "Faol tadbirlar" %}</h2>
      <p class="section-title__text">{% translate "Hozirgi vaqtda faol tadbirlarimiz" %}</p>
    </div>
    
    <div class="row">
      {% for event in events|slice:":4" %}
      <div class="col-xl-6 col-lg-6 wow fadeInLeft" data-wow-delay="300ms">
        <!--Services One Single-->
        <div class="services-one__single">
            <div class="services-one__img">
                <img src="{{ event.image.url }}" alt="{{ event.title }}" />
            </div>
            <div class="services-one__content">
                <h3 class="services-one__title"><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h3>

                <p class="services-one__text">{{ event.content|striptags|short_description:100 }}</p>
                <a href="{{ event.get_absolute_url }}" class="services-one__btn">{% translate "Batafsil" %}</a>
            </div>
        </div>

    </div>
      {% endfor %}
    </div>
  </div>
  {% if events|length > 4 %}
    <div class="w-100 text-center mt-5 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
          <a href="{% url 'events-all' %}" class="thm-btn mx-auto">
              {% translate "Barchasi" %}
          </a>
    </div>
    {% endif %}
</section>