{% load static %}
{% load i18n %}

<section class="our-mission" id="medicine">
  <div class="our-mission-bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%" style="background-image: url({% static 'assets/images/backgrounds/mountains.png' %})"></div>
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="our-mission__inner">
                  <h2 class="our-mission__title mb-0 wow fadeInRight">
                      {% translate "Bizning Xizmatlar" %} <br />
                  </h2>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="cases-one cases-page">
  <div class="container">
      <div class="row">
          {% for service in services %}
          <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
            <!--Cases One Single-->
            <div class="cases-one__single">
                <div class="cases-one__img-box">
                    <div class="cases-one__img">
                        <img src="{{ service.image.url }}" alt="{{ service.title }}">
                    </div>
                    <div class="cases-one__content">
                        <div class="cases-one__icon">
                            <span>
                              <img src="{{ service.icon.url }}" alt="{{ service.title }}">
                            </span>
                        </div>
                        <p class="cases-one__tagline"></p>
                        <h2 class="cases-one__tilte"><a href="{{ service.get_absolute_url }}">{{ service.title }}</a></h2>
                    </div>
                </div>
            </div>

        </div>
          {% endfor %}
      </div>
  </div>
</section>