{% load static %}
{% load i18n %}

<section class="our-mission" id="medicine">
  <div class="our-mission-bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%" style="background-image: url({% static 'assets/images/backgrounds/mountains.png' %})"></div>
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="our-mission__inner">
                  <h2 class="our-mission__title mb-0 wow fadeInRight">
                      {% translate "Bizning Xizmatlar" %} <br />
                  </h2>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="cases-one cases-page">
  <div class="container">
      <div class="row">
          <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
              <!--Cases One Single-->
              <div class="cases-one__single">
                  <div class="cases-one__img-box">
                      <div class="cases-one__img">
                          <img src="https://placehold.co/370x420" alt="">
                      </div>
                      <div class="cases-one__content">
                          <div class="cases-one__icon">
                              <span class="icon-mobile-analytics"></span>
                          </div>
                          <p class="cases-one__tagline">Thought leadership</p>
                          <h2 class="cases-one__tilte"><a href="#">businesses growth</a></h2>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="100ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 100ms; animation-name: fadeInUp;">
              <!--Cases One Single-->
              <div class="cases-one__single">
                  <div class="cases-one__img-box">
                      <div class="cases-one__img">
                          <img src="https://placehold.co/370x420" alt="">
                      </div>
                      <div class="cases-one__content">
                          <div class="cases-one__icon">
                              <span class="icon-research"></span>
                          </div>
                          <p class="cases-one__tagline">Risk management</p>
                          <h2 class="cases-one__tilte"><a href="#">Marketing advice</a></h2>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 200ms; animation-name: fadeInUp;">
              <!--Cases One Single-->
              <div class="cases-one__single">
                  <div class="cases-one__img-box">
                      <div class="cases-one__img">
                          <img src="https://placehold.co/370x420" alt="">
                      </div>
                      <div class="cases-one__content">
                          <div class="cases-one__icon">
                              <span class="icon-creative"></span>
                          </div>
                          <p class="cases-one__tagline">Business strategy</p>
                          <h2 class="cases-one__tilte"><a href="#">finance consulting</a>
                          </h2>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeInUp;">
              <!--Cases One Single-->
              <div class="cases-one__single">
                  <div class="cases-one__img-box">
                      <div class="cases-one__img">
                          <img src="https://placehold.co/370x420" alt="">
                      </div>
                      <div class="cases-one__content">
                          <div class="cases-one__icon">
                              <span class="icon-report"></span>
                          </div>
                          <p class="cases-one__tagline">business growth</p>
                          <h2 class="cases-one__tilte"><a href="#">Digital campaigns</a></h2>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="400ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 400ms; animation-name: fadeInUp;">
              <!--Cases One Single-->
              <div class="cases-one__single">
                  <div class="cases-one__img-box">
                      <div class="cases-one__img">
                          <img src="https://placehold.co/370x420" alt="">
                      </div>
                      <div class="cases-one__content">
                          <div class="cases-one__icon">
                              <span class="icon-team1"></span>
                          </div>
                          <p class="cases-one__tagline">marketing rates</p>
                          <h2 class="cases-one__tilte"><a href="#">substantial business</a>
                          </h2>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="500ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 500ms; animation-name: fadeInUp;">
              <!--Cases One Single-->
              <div class="cases-one__single">
                  <div class="cases-one__img-box">
                      <div class="cases-one__img">
                          <img src="https://placehold.co/370x420" alt="">
                      </div>
                      <div class="cases-one__content">
                          <div class="cases-one__icon">
                              <span class="icon-consulting"></span>
                          </div>
                          <p class="cases-one__tagline">Extra briliant</p>
                          <h2 class="cases-one__tilte"><a href="#">top-notch consultation</a>
                          </h2>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>