{% load static %}
{% load i18n %}

<section class="team-one" id="team">
  <div class="team-one__container">
    <div class="section-title text-center">
      <h2 class="section-title__title">{% translate "Bizning Jamoamiz" %}</h2>
      <!-- <span class="section-title__tagline">{% translate "Bizning jamoamiz" %}</span> -->
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
        <!--Team One Single-->
        <div class="team-one__single">
          <div class="team-one__img">
            <img src="https://placehold.co/370x420" alt="">
            <div class="team-one__hover-content">
              <h3 class="team-one__name">Clara Cortez</h3>
              <p class="team-one__title">Consultant</p>
            </div>
            <div class="team-one__bottom">
              <div class="team-one__btn-box">
                <a href="contact.html" class="team-one__btn">Contact Me</a>
              </div>
              <div class="team-one__social">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#" class="clr-fb"><i class="fab fa-facebook"></i></a>
                <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeInUp;">
        <!--Team One Single-->
        <div class="team-one__single">
          <div class="team-one__img">
            <img src="https://placehold.co/370x420" alt="">
            <div class="team-one__hover-content">
              <h3 class="team-one__name">Roxie Shaw</h3>
              <p class="team-one__title">Consultant</p>
            </div>
            <div class="team-one__bottom">
              <div class="team-one__btn-box">
                <a href="contact.html" class="team-one__btn">Contact Me</a>
              </div>
              <div class="team-one__social">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#" class="clr-fb"><i class="fab fa-facebook"></i></a>
                <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeInUp;">
        <!--Team One Single-->
        <div class="team-one__single">
          <div class="team-one__img">
            <img src="https://placehold.co/370x420" alt="">
            <div class="team-one__hover-content">
              <h3 class="team-one__name">Jon Jackson</h3>
              <p class="team-one__title">Consultant</p>
            </div>
            <div class="team-one__bottom">
              <div class="team-one__btn-box">
                <a href="contact.html" class="team-one__btn">Contact Me</a>
              </div>
              <div class="team-one__social">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#" class="clr-fb"><i class="fab fa-facebook"></i></a>
                <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="900ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 900ms; animation-name: fadeInUp;">
        <!--Team One Single-->
        <div class="team-one__single">
          <div class="team-one__img">
            <img src="https://placehold.co/370x420" alt="">
            <div class="team-one__hover-content">
              <h3 class="team-one__name">Manuel Glover</h3>
              <p class="team-one__title">Consultant</p>
            </div>
            <div class="team-one__bottom">
              <div class="team-one__btn-box">
                <a href="contact.html" class="team-one__btn">Contact Me</a>
              </div>
              <div class="team-one__social">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#" class="clr-fb"><i class="fab fa-facebook"></i></a>
                <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>