{% load static %}
{% load i18n %}

<section class="team-one" id="team">
  <div class="team-one__container">
    <div class="section-title text-center">
      <h2 class="section-title__title">{% translate "Bizning Jamoamiz" %}</h2>
      <!-- <span class="section-title__tagline">{% translate "Bizning jamoamiz" %}</span> -->
    </div>
    <div class="row justify-content-center">

      {% for team in teams %}
      <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
        <!--Team One Single-->

        <div class="team-one__single">
          <div class="team-one__img">
            <img src="{{ team.image.url }}" alt="">
            <div class="team-one__hover-content">
              <h3 class="team-one__name">{{ team.full_name }}</h3>
              <p class="team-one__title">{{ team.position }}</p>
              <p class="team-one__title">{{ team.description }}</p>
            </div>
            <div class="team-one__bottom">
              <div class="team-one__btn-box">

                <a href="{{ team.contact_url }}"
                {% if team.contact_url != "#contact" %}
                target="_blank"
                {% endif %}
                class="team-one__btn">Contact Me</a>
              </div>

              <div class="team-one__social">


                {% for social in team.social_media.all %}
                <a href="{{ social.link }}" target="_blank"><i class="{{ social.icon }}"></i></a>
                {% endfor %}

              </div>
            </div>
          </div>

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>